doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://wzsshare.592you.com/stylesheets/share.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, height=device-height')
  body
    block content
      img(src='http://wzsshare.592you.com/#{imgUrl}' id="share")